# Dictionary Operations with `split()` and `join()` - Continued Practice

This notebook continues exploring advanced dictionary manipulation techniques in Python, with a focus on combining `split()`, `join()`, and dictionary comprehensions for data processing tasks commonly encountered in data engineering and technical interviews.

## Topics Covered

- Advanced dictionary comprehension patterns
- String parsing and transformation using `split()` and `join()`
- Nested dictionary operations
- Filtering and transforming dictionary data
- Performance considerations for dictionary operations
- Real-world data processing examples

## `split()` - Converts a string into a list of strings by splitting on a specified delimiter

### **Key Concepts:**
* **Purpose**: Breaks a string into a list of substrings based on a separator/delimiter
* **Default behavior**: When no argument is provided, splits on any whitespace (spaces, tabs, newlines) and removes empty strings
* **Custom delimiter**: You can specify any character(s) to split on
* **Return value**: Always returns a list of strings

### **Syntax:**
```python
string.split(separator, maxsplit)
```
* `separator` (optional): The delimiter to split on. Default is any whitespace.
* `maxsplit` (optional): Maximum number of splits to perform. Default is -1 (all occurrences).

---

### **Basic Examples:**

#### **Example 1: Default splitting (whitespace)**
```python
text = "Python is awesome"
words = text.split()
print(words)  # Output: ['Python', 'is', 'awesome']
```

#### **Example 2: Splitting on a comma**
```python
text = "apple,banana,grape"
fruits = text.split(',')
print(fruits)  # Output: ['apple', 'banana', 'grape']
print(fruits[0])  # Output: 'apple'
```

#### **Example 3: Splitting on a custom delimiter**
```python
log = "2025-03-07 12:00:01"
date_parts = log.split('-')
print(date_parts)  # Output: ['2025', '03', '07 12:00:01']
```

#### **Example 4: Using maxsplit parameter**
```python
text = "one:two:three:four"
result = text.split(':', 2)  # Split only twice
print(result)  # Output: ['one', 'two', 'three:four']
```

---

### **Advanced Use Cases:**

#### **Parsing structured data (CSV-like format)**
```python
data = "name:John;age:30;city:New York"
fields = data.split(";")  # Output: ['name:John', 'age:30', 'city:New York']
structured_data = {item.split(":")[0]: item.split(":")[1] for item in fields}
print(structured_data)  # Output: {'name': 'John', 'age': '30', 'city': 'New York'}
```

#### **Cleaning extra whitespace**
```python
text = "  Python  is   powerful!  "
cleaned = text.split()  # Automatically removes all extra whitespace
print(cleaned)  # Output: ['Python', 'is', 'powerful!']
```

#### **Extracting file paths**
```python
filepath = "/home/user/documents/report.csv"
parts = filepath.split("/")
print(parts)  # Output: ['', 'home', 'user', 'documents', 'report.csv']
print(parts[-1])  # Get filename: 'report.csv'
```

---

### **Common Pitfalls:**

#### **Empty strings in results**
```python
text = "a,,b,c"
result = text.split(',')
print(result)  # Output: ['a', '', 'b', 'c']  # Note the empty string!

# To remove empty strings:
result = [x for x in text.split(',') if x]
print(result)  # Output: ['a', 'b', 'c']
```

#### **Split vs. default split**
```python
text = "a b  c"
print(text.split(' '))   # Output: ['a', 'b', '', 'c']  # Keeps empty string
print(text.split())      # Output: ['a', 'b', 'c']     # Removes empty strings
```

---

### **Real-World Data Engineering Examples:**

#### **Parsing log files**
```python
log_line = "[INFO] 2025-03-07 12:00:01 - User login successful"
level = log_line.split("]")[0][1:]  # Extract 'INFO'
timestamp = log_line.split(" ")[1] + " " + log_line.split(" ")[2]
print(f"Level: {level}, Time: {timestamp}")
```

#### **Processing API responses**
```python
response = "user_id=123&name=Alice&status=active"
params = response.split("&")
data = {item.split("=")[0]: item.split("=")[1] for item in params}
print(data)  # Output: {'user_id': '123', 'name': 'Alice', 'status': 'active'}
```

In [81]:
import pandas as pd

In [82]:
text = "apple,banana,grape"
text.split(',')[0]

'apple'

In [83]:
data = "name:John;age:30;city:New York"
fields = data.split(";")  # now you have a key:value setup ['name:John', 'age:30', 'city:New York']
structured_data = {item.split(":")[0]: item.split(":")[1] for item in fields} # Make the dictionary
print(structured_data)

#structured_data = {item.split(":")[0]: item.split(":")[1] for item in fields}

{'name': 'John', 'age': '30', 'city': 'New York'}

## `join()`

### **What is `join()`?**
* The `join()` method concatenates elements of an iterable (like a list, tuple, or set) into a single string
* It's the **opposite** of `split()` - while `split()` breaks strings into lists, `join()` combines lists into strings
* The string you call `join()` on becomes the **separator** between elements

### **Syntax:**

python
separator.join(iterable)

*`separator`: The
string
that
goes
between
each
element
*`iterable`: Any
iterable(list, tuple, set, etc.)
containing ** strings **

---

### **Basic Examples:**

#### **Example 1: Joining with a space**

python
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(sentence)  # Output: "Python is awesome"


#### **Example 2: Joining with a comma (CSV format)**

python
row = ["Alice", "Data Engineer", "San Francisco"]
csv_line = ",".join(row)
print(csv_line)  # Output: "Alice,Data Engineer,San Francisco"


#### **Example 3: Joining with no separator**

python
letters = ["H", "e", "l", "l", "o"]
word = "".join(letters)
print(word)  # Output: "Hello"


#### **Example 4: Joining with a custom delimiter**

python
log_parts = ["ERROR", "2025-03-07", "Server Down"]
log_entry = " | ".join(log_parts)
print(log_entry)  # Output: "ERROR | 2025-03-07 | Server Down"


---

### **Advanced Use Cases:**

#### **Joining dictionary keys and values**

python
data = {"name": "Alice", "role": "Data Engineer", "city": "SF"}
csv_line = ",".join(f"{k}={v}" for k, v in data.items())
print(csv_line)  # Output: "name=Alice,role=Data Engineer,city=SF"


#### **Cleaning whitespace from text**

python
text = "  Python  is   powerful!  "
cleaned_text = " ".join(text.split())  # Removes extra spaces
print(cleaned_text)  # Output: "Python is powerful!"


#### **Creating file paths**

python
path_parts = ["home", "user", "documents", "report.csv"]
filepath = "/".join(path_parts)
print(filepath)  # Output: "home/user/documents/report.csv"


#### **Formatting log entries**

python
log_entry = "ERROR|2025-03-07|Server Down"
formatted = " - ".join(log_entry.split("|"))
print(formatted)  # Output: "ERROR - 2025-03-07 - Server Down"


---

### **Common Pitfalls:**

#### **TypeError: All elements must be strings**

python
numbers = [1, 2, 3]
result = ",".join(numbers)  # âŒ TypeError: sequence item 0: expected str instance, int found

# Fix: Convert to strings first
result = ",".join(str(n) for n in numbers)
print(result)  # Output: "1,2,3"


#### **Empty iterables**

python
empty_list = []
result = ",".join(empty_list)
print(result)  # Output: "" (empty string, not an error)


---

### **Performance Note:**
*`"".join(list)` is ** significantly
faster ** than
using
` += ` in a
loop
for string concatenation
    *Always
prefer
`join()`
when
combining
multiple
strings

#### **Bad approach (slow):**

python
result = ""
for word in words:
    result += word + " "  # âŒ Creates new string object each iteration


#### **Good approach (fast):**

python
result = " ".join(words)  # âœ… Optimized, single operation

In [89]:
words = ["Python", "is", "awesome"]
sentence = " ".join(words)  # Joining with space
print(sentence)  # Output: "Python is awesome"

Python is awesome

In [90]:
row = ["Alice", "Data Engineer", "San Francisco"]
csv_line = ",".join(row)  # Convert list to CSV row
print(csv_line)  # Output: "Alice,Data Engineer,San Francisco"

Alice,Data Engineer,San Francisco

```
text = "  Python  is   powerful!  "
cleaned_text = " ".join(text.split())  # Removes extra spaces
print(cleaned_text)  # Output: "Python is powerful!"
### An iterable can also be a dictionary

In [91]:
data = {"name": "Alice", "role": "Data Engineer", "city": "SF"}
csv_line = ",".join(f"{k}={v}" for k, v in data.items())
print(csv_line)

name=Alice,role=Data Engineer,city=SF

## Combining split() and join() for Data Cleaning
Example: Normalizing Text Data

In [92]:
text = "  Python  is   powerful!  " # starting off with a string
cleaned_text = " ".join(text.split())  # Removes extra spaces- split into a list of strings, then join them
print(cleaned_text)  # Output: "Python is powerful!"

Python is powerful!

In [93]:
log_entry = "ERROR|2025-03-07|Server Down"
# desired output: "ERROR - 2025-03-07 - Server Down"
formatted_output = " - ".join(log_entry.split("|"))
print(formatted_output)

ERROR - 2025-03-07 - Server Down

## Performance Considerations
### `split()` Performance:
* Native `.split(delimiter)` is optimized and faster than using `re.split()`.
* `split(None)` (default) intelligently splits by any whitespace.
## `join()` Performance:
* `"".join(iterable)` is the *fastest* way to concatenate strings.
* **Always** prefer `"".join(list)` over `+=` inside loops.

## Tricky problem: We're gonna need the `replace()` function
### The Basics of `replace()`
The `replace()` function in Python is like a find-and-swap tool for strings. It lets you take a piece of text and swap out certain words, letters, or symbols for something elseâ€”kinda like remixing a track with different beats.
**Syntax**
`string.replace(old, new, count)`
* `old` â†’ What you wanna swap out
* `new` â†’ What you wanna replace it with
* `count` (optional) â†’ How many times you wanna do the swap (default: all)

example:
```
text = "Man, Python is difficult!"
new_text = text.replace("difficult", "ðŸ”¥")
print(new_text)
Man, Python is ðŸ”¥!
```

**Processing API Responses (JSON-like strings)**
This problem is trickier than it seems at first and you have to pay extra attention to the desired output. We

In [30]:
response = '{"name": "Alice", "age": "30", "city": "NY"}'
key_value_pairs = response.replace("{", "").replace("}", "").replace('"', '').split(",")
structured_dict = {_.split(":")[0]: _.split(":")[1] for _ in key_value_pairs}
print(structured_dict)

{'name': ' Alice', ' age': ' 30', ' city': ' NY'}

In [31]:
filepath = "/home/user/documents/report.csv"
# Output: "/home/user/documents"
"/".join(filepath.split("/")[0:4])

'/home/user/documents'

## Log Parsing: Convert Raw Log Strings into Structured Dictionaries

This code parses raw log entries in string format and converts them into structured Python dictionaries.
Each log entry follows the pattern: `[LEVEL] YYYY-MM-DD HH:MM:SS - MESSAGE`

The function uses string operations (`split()`, `strip()`) to extract the log level, timestamp, and message from each entry.

### Approach:
1. Split each log string by `" - "` to separate header (level + timestamp) from message
2. Further split the header by spaces to isolate the log level (first token) and timestamp (second token)
3. Clean up the log level by removing surrounding brackets with `strip("[]")`
4. Build a dictionary for each log entry with keys: `level`, `timestamp`, `message`
5. Return a list of all parsed log dictionaries

### Key Techniques:
- `.split(" - ", 1)` limits the split to only the first occurrence, preventing message content with " - " from being split
- `.strip("[]")` removes enclosing brackets from log level
- List comprehension or explicit loop to aggregate results

In [39]:
# expected output
"""
[
    {'level': 'INFO', 'timestamp': '2025-03-07', 'message': 'User login: john_doe'},
    {'level': 'ERROR', 'timestamp': '2025-03-07', 'message': 'Database timeout'},
    {'level': 'WARNING', 'timestamp': '2025-03-07', 'message': 'Low disk space'}
]
"""

logs = [
    "[INFO] 2025-03-07 12:00:01 - User login: john_doe",
    "[ERROR] 2025-03-07 12:02:15 - Database timeout",
    "[WARNING] 2025-03-07 12:05:42 - Low disk space"
]


def parse_logs(logs):
    parsed = []
    for log in logs:
        header_message = log.split(" - ", 1)
        header = header_message[0]
        message = header_message[1] if len(header_message) > 1 else ""
        tokens = header.split()
        level = tokens[0].strip("[]") if tokens else ""
        timestamp = tokens[1] if len(tokens) > 1 else ""
        parsed.append({"level": level, "timestamp": timestamp, "message": message})
    return parsed


structured_logs = parse_logs(logs)
print(structured_logs)

[{'level': 'INFO', 'timestamp': '2025-03-07', 'message': 'User login: john_doe'}, {'level': 'ERROR', 'timestamp': '2025-03-07', 'message': 'Database timeout'}, {'level': 'WARNING', 'timestamp': '2025-03-07', 'message': 'Low disk space'}]

# Dictionary Comprehension with Multiple Iterables

**You can even combine two lists into a dictionary.**

Dictionary comprehension with multiple iterables is a powerful Python feature that lets you build dictionaries from separate sources in a single, elegant line. This is particularly useful in data engineering when you need to map keys to values that come from different collections.

ðŸ“Œ **Example: Zip Two Lists into a Dictionary**

When you have two lists - one containing keys and another containing corresponding values - you can use `zip()` combined with dictionary comprehension to merge them into a single dictionary:

In [72]:

keys = ["name", "age", "city"]
values = ["John", 30, "New York"]
person = {k: v for k, v in zip(keys, values)}
print(person)
# Output: {'name': 'John', 'age': 30, 'city': 'New York'}

{'name': 'John', 'age': 30, 'city': 'New York'}


** How
it
works: **
- `zip(keys, values)`
pairs
each
key
with its corresponding value: `[('name', 'John'), ('age', 30), ('city', 'New York')]`
- The
dictionary
comprehension
`{k: v for k, v in ...}`
unpacks
each
tuple and creates
key - value
pairs
- This
creates
a
clean
mapping
between
parallel
lists

** Real - world
applications: **
- Processing
CSV
headers
with data rows
- Mapping
database
column
names
to
values
- Combining
configuration
keys
with their values
- Transforming
API
response
arrays
into
structured
dictionaries

** Common
variations: **

1. ** With
filtering: **

In [73]:

{k: v for k, v in zip(keys, values) if v is not None}

{'name': 'John', 'age': 30, 'city': 'New York'}


2. ** With transformation: **

In [74]:

{k.lower(): str(v) for k, v in zip(keys, values)}

{'name': 'John', 'age': '30', 'city': 'New York'}


3. ** Multiple
source
arrays: **

In [75]:

ids = [1, 2, 3]
names = ["Alice", "Bob", "Charlie"]
scores = [95, 87, 92]
data = {id: {"name": name, "score": score}
        for id, name, score in zip(ids, names, scores)}

print(data)

{1: {'name': 'Alice', 'score': 95}, 2: {'name': 'Bob', 'score': 87}, 3: {'name': 'Charlie', 'score': 92}}


This
technique is fundamental
for data transformation tasks in ETL pipelines, data cleaning, and API response handling.

In [76]:
keys = ["name", "age", "city"]
values = ["John", 30, "New York"]
person = {k: v for k, v in zip(keys, values)}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

ðŸ”¹ This is useful for processing CSV headers with values.

## Modify Values While Building the Dictionary
Instead of just assigning values as they are, you can modify them.

ðŸ“Œ Example: Convert Fahrenheit to Celsius

In [77]:
temps_f = {"NY": 100, "LA": 80, "Chicago": 50}
temps_in_c = {k: round((v - 32) * 5/9, 2) for k, v in temps_f.items()}
print(temps_in_c)

{'NY': 37.78, 'LA': 26.67, 'Chicago': 10.0}

## Nested Dictionary Comprehension
When dealing with complex data, you can nest dictionary comprehensions.

ðŸ“Œ Example: Organizing AWS Resource Data
*desired output**: Convert cost to EUR (assume 1 USD = 0.92 EUR)
```
{
    'EC2': {'instances': 5, 'cost': 92.0},
    'S3': {'buckets': 10, 'cost': 46.0},
    'Lambda': {'functions': 20, 'cost': 27.6}
}

In [78]:
aws_services = {
    "EC2": {"instances": 5, "cost": 100},
    "S3": {"buckets": 10, "cost": 50},
    "Lambda": {"functions": 20, "cost": 30}
}

costs_eur = {service: {k: (v * 0.92 if k == "cost" else v) for k, v in details.items()}
                 for service, details in aws_services.items()}
print(costs_eur)

{'EC2': {'instances': 5, 'cost': 92.0}, 'S3': {'buckets': 10, 'cost': 46.0}, 'Lambda': {'functions': 20, 'cost': 27.6}}

## The Basics: What is Dictionary Comprehension?
Dictionary comprehension is a one-liner way to create a dictionary in Python. Instead of writing a whole loop, you can do it in a single line using:
`{key: value for item in iterable}
`

In [79]:
names = ["John", "Mike", "Lisa"]
name_dict = {name: len(name) for name in names}  # Names as keys, lengths as values
print(name_dict)

{'John': 4, 'Mike': 4, 'Lisa': 4}

## Transforming Data Like a Pro
Letâ€™s say youâ€™re dealing with AWS log data and need to extract useful info.

ðŸ“Œ Example: Converting Key-Value Pairs from Strings

In [80]:
log = "user:John;action:Login;status:Success"
{item.split(":")[0]:item.split(":")[1] for item in log.split(";")}

{'user': 'John', 'action': 'Login', 'status': 'Success'}

### for this problem you can see where your k, v are via

In [53]:
log = "user:John;action:Login;status:Success"
log.split(";")

['user:John', 'action:Login', 'status:Success']

now you see your k, v pairs in `split(":")[0]` and `split(":")[1]`--> then you can put it into the dictionary comprehension
#### ðŸ”¹ Why this is dope:
* It splits the log into individual key-value pairs and maps them into a dictionary in a single line. ðŸ”¥

## Dictionary Comprehension with Multiple Iterables
You can even combine two lists into a dictionary.

ðŸ“Œ Example: Zip Two Lists into a Dictionary

In [54]:
keys = ["name", "age", "city"]
values = ["John", 30, "New York"]
person = {k: v for k, v in zip(keys, values)}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

## Handling Missing or Default Values
Sometimes, your data is incomplete. You can use .get() inside dictionary comprehension to handle missing values gracefully.

ðŸ“Œ Example: Setting Default Values

In [55]:
employees = ["Alice", "Bob", "Charlie"]
salaries = {"Alice": 50000, "Bob": 55000}
# Notice the salary for 'Charles' is missing
{name: salaries.get(name, "Salary doe not exist") for name in employees}

{'Alice': 50000, 'Bob': 55000, 'Charlie': 'Salary doe not exist'}

#### ðŸ”¹ What happened?

Charlie wasnâ€™t in the salaries dictionary, so we set his salary to "Not Available" instead of throwing an error.

## Challenge: Log Parsing with Dictionary Comprehension
Letâ€™s level upâ€”imagine you got a messy log file that looks like this:
desired output:

```
{
    'ERROR': 'Disk full',
    'INFO': 'System running smoothly',
    'WARNING': 'High CPU usage detected'
}
```

In [56]:
logs = [
    "ERROR: Disk full",
    "INFO: System running smoothly",
    "WARNING: High CPU usage detected"
]

# remember {k:v for log in logs}
format_log = {log.split(":")[0]: log.split(":")[1].strip() for log in logs}
print(format_log)

{'ERROR': 'Disk full', 'INFO': 'System running smoothly', 'WARNING': 'High CPU usage detected'}

## Nested Dictionary- needs more work
Let's say you got user data in a dictionary, and you want to tweak it.

**Example Data (Raw JSON-style)**
```
users = {
    "chris": {"age": 56, "city": "NYC"},
    "mike": {"age": 34, "city": "LA"},
    "jess": {"age": 49, "city": "Houston"},
}
```
**Task: Convert all city names to uppercase**
We gotta loop over each user and update their city.

**Using dictionary comprehension:**

In [33]:
users = {
    "chris": {"age": 56, "city": "nyc"},
    "mike": {"age": 34, "city": "la"},
    "jess": {"age": 49, "city": "houston"},
}
updated_users = {k: {ik: (iv.upper() if ik == "city" else iv) for ik, iv in v.items()} for k, v in users.items()}

print(updated_users)

{'chris': {'age': 56, 'city': 'NYC'}, 'mike': {'age': 34, 'city': 'LA'}, 'jess': {'age': 49, 'city': 'HOUSTON'}}

### ðŸ”¹ Breakdown:

* First k, v loops over the outer dictionary (users).
* Second {ik: (iv.upper() if ik == "city" else iv) for ik, iv in v.items()} loops over the inner dictionary.
* We apply .upper() only when the key is "city".

## Example 2: Filtering Nested Data
** *Letâ€™s say we only want users above 40 years old.* **

In [35]:
filtered_users = {k: v for k, v in users.items() if v["age"] > 40}

print(filtered_users)

{'chris': {'age': 56, 'city': 'nyc'}, 'jess': {'age': 49, 'city': 'houston'}}

### ðŸ”¹ Hereâ€™s the play:

We used {k: v for k, v in users.items() if v["age"] > 40} to keep only users where "age" is greater than 40.

### Note: this can seem confusing because the syntax in both cases is different
## Why the Syntax Feels Different
You're seeing two types of dictionary comprehensions, but they serve different purposes.

1. **Transforming** nested dictionaries â†’ requires two loops (one for outer dict, one for inner dict).
2. **Filtering** outer dictionary â†’ requires one loop and a simple condition.

### Case 1: Updating Nested Values (Two Loops)
Youâ€™re modifying an inner dictionary, so you:
```
updated_users = {k: {ik: (iv.upper() if ik == "city" else iv) for ik, iv in v.items()} for k, v in users.items()}
```
### Step-by-Step Breakdown
#### 1. Outer loop:

* `for k, v in users.items()` â†’ Loops through each user (outer dict keys & values).
* `k` is `"chris"`, `"mike"`, `"jess"`.
* `v` is {`"age": 56, "city": "nyc"`}, etc.

#### 2. Inner loop (inside the outer loop):
* `{ik: (iv.upper() if ik == "city" else iv) for ik, iv in v.items()`}
* Loops through each inner dictionary `(v)`.
* `ik` is `"age"`, `"city"`, etc.
* If `ik == "city"`, apply `.upper()` to iv.
* Otherwise, leave `iv` as is.
### Why Two Loops?
Youâ€™re modifying values inside the nested dictionaries, so you have to go inside each one to update.

## Case 2: Filtering the Outer Dictionary (One Loop)
Here, youâ€™re just keeping or removing entire user entries based on a condition.
```
filtered_users = {k: v for k, v in users.items() if v["age"] > 40}
```
### Step-by-Step Breakdown
** 1. Looping through the outer dictionary only:**

* `for k, v in users.items()` â†’ Loops over `"chris"`, `"mike"`, `"jess"`.
* `k` is `"chris"`, `"mike"`, `"jess"`.
* `v` is {`"age": 56, "city": "nyc"`}, etc.
** 2. Applying a filter condition:**

* if `v["age"] > 40` â†’ Only keeps users where "age" is above 40.
#### Why Only One Loop?
* Youâ€™re not modifying anything inside the nested dictionaries.
* Youâ€™re only deciding whether to keep or remove an entire entry.

## The Key Difference

| **Operation**        | **How Many Loops?** | **Purpose** |
|----------------------|--------------------|-------------|
| Updating nested values (e.g., uppercasing "city") | **Two loops** (outer & inner) | You need to go inside each nested dict and modify values |
| Filtering users based on `"age"` | **One loop** (outer only) | Youâ€™re just removing entire entries, not modifying values inside |

## How to Think About It
* If you need to change things inside the nested dict, you need two loops.
* If you just want to filter which users stay, one loop is enough.

### Bringing it Together
If you wanted to filter AND modify at the same time, youâ€™d combine them:
```
final_users = {k: {ik: (iv.upper() if ik == "city" else iv) for ik, iv in v.items()} for k, v in users.items() if v["age"] > 40}
```
### Whatâ€™s Happening Here?
* **First part**: `for k, v in users.items() if v["age"] > 40` â†’ Filters users (outer loop).
* **Second part**: {`ik: (iv.upper() if ik == "city" else iv) for ik, iv in v.items()`} â†’ Modifies cities (inner loop).

## Real-World Example
Say you're pulling JSON from an API and you need to:

* Filter out users under 40.
* Uppercase their city names.

# Practice Problems
## Problem 1: Modify Nested Dictionary Values
You have a dictionary of students and their grades. Convert all subject names to uppercase.

In [45]:
grades = {
    "alice": {"math": 90, "science": 85},
    "bob": {"math": 75, "science": 95},
    "charlie": {"math": 88, "science": 92}
}
upper_subjects = {student:{subjects.upper(): grade for subjects, grade in subjects.items()} for student, subjects in grades.items()}
print(upper_subjects)

{'alice': {'MATH': 90, 'SCIENCE': 85}, 'bob': {'MATH': 75, 'SCIENCE': 95}, 'charlie': {'MATH': 88, 'SCIENCE': 92}}

## Problem 2: Filtering the Outer Dictionary
### Task:
* Keep only the products where price is above 500.

In [49]:
products = {
    "laptop": {"price": 1200, "brand": "Dell"},
    "phone": {"price": 800, "brand": "Apple"},
    "tablet": {"price": 300, "brand": "Samsung"},
    "monitor": {"price": 250, "brand": "LG"}
}
# filtered_users = {k: v for k, v in users.items() if v["age"] > 40}
filtered_prices = {k: v for k, v in products.items() if v["price"]>500}
print(filtered_prices)

{'laptop': {'price': 1200, 'brand': 'Dell'}, 'phone': {'price': 800, 'brand': 'Apple'}}

## Problem 3: Flatten a Nested Dictionary
You have employee data, and you want to convert it into a list of tuples.

In [52]:
employees = {
    "john": {"age": 30, "department": "IT"},
    "susan": {"age": 35, "department": "HR"},
    "michael": {"age": 40, "department": "Finance"}
}
flat_employees = [(employee, key, value) for employee, details in employees.items() for key, value in details.items()]
print(flat_employees)

[('john', 'age', 30), ('john', 'department', 'IT'), ('susan', 'age', 35), ('susan', 'department', 'HR'), ('michael', 'age', 40), ('michael', 'department', 'Finance')]

n

### Example 3: Flattening a Nested Dictionary
Say you wanna flatten that nested structure into something simple, like a list of tuples:

In [36]:
flat_list = [(user, key, value) for user, details in users.items() for key, value in details.items()]

print(flat_list)

[('chris', 'age', 56), ('chris', 'city', 'nyc'), ('mike', 'age', 34), ('mike', 'city', 'la'), ('jess', 'age', 49), ('jess', 'city', 'houston')]

### ðŸ”¹ Whatâ€™s happening?

* The first loop grabs the outer key (user name).
* The second loop digs into the inner dictionary (details), extracting key-value pairs.
* We format each entry as a tuple.

f## Filtering a Dictionary

desired output:
```
{
    "bananas": 12,
    "grapes": 15
}

```

In [5]:
sales = {
    "apples": 5,
    "bananas": 12,
    "oranges": 8,
    "grapes": 15
}
flattened_sales = {k:v for k, v in sales.items() if v>10}
print(flattened_sales)

{'bananas': 12, 'grapes': 15}

## Splitting a String into a Dictionary

desired output:
```
{
    "Alice": 90,
    "Bob": 85,
    "Charlie": 78,
    "David": 92
}

```

In [14]:
scores = "Alice:90,Bob:85,Charlie:78,David:92"
fields = scores.split(',')
{item.split(':')[0]: int(item.split(':')[1]) for item in fields}

{'Alice': 90, 'Bob': 85, 'Charlie': 78, 'David': 92}

## Problem 3: Joining a Dictionary into a String
You have a dictionary of prices and need to convert it into a string format.

desired output:
```
"milk: 2.50, bread: 1.99, eggs: 3.49"
```

In [38]:
prices = {
    "milk": 2.50,
    "bread": 1.99,
    "eggs": 3.49
}
# for k, v in prices.items():
#     print(f'"{k}": {v:.2f}') # print(f'"{k}":{v:.2f}'
prices_str = [f'"{k}": {v:.2f}' for k, v in prices.items()] # turn into a list
formatted_str = ", ".join(prices_str) # turn it into a formatted string
print(formatted_str)

"milk": 2.50, "bread": 1.99, "eggs": 3.49

## Convert List of Tuples to Dictionary
You have a list of (key, value) pairs and need to turn it into a dictionary.

desired output:
```
{
    "NYC": "New York",
    "LA": "Los Angeles",
    "CHI": "Chicago"
}
```

# Wrong Approach

In [66]:
data = [("NYC", "New York"), ("LA", "Los Angeles"), ("CHI", "Chicago")]
lst = []
for ele in data:
    string = ", ".join(ele)
    lst.append(string)
print(list(lst))
#     string_splt = string.split(',')
# d = {string.split[0]:string.split[1] for items in string_splt}
    # structured_data = {item.split[0]:item.split[1] for item in string}
    # print(structured_data)

['NYC, New York', 'LA, Los Angeles', 'CHI, Chicago']

# Correct Approach
The thing to note is that we see a pair of tuples. Python can unpack tuples into a dictionary form.

**for example**

In [67]:
data = [("NYC", "New York"), ("LA", "Los Angeles"), ("CHI", "Chicago")]

structured_data = {key: value for key, value in data}

print(structured_data)

{'NYC': 'New York', 'LA': 'Los Angeles', 'CHI': 'Chicago'}

### Why This Works
1. for key, value in data â†’ Unpacks each tuple into key and value.
2. {key: value for key, value in data} â†’ Uses dictionary comprehension to build the dictionary.

**Further, one could have also used the one-liner:**

In [68]:
structured_data = dict(data)
print(structured_data)

{'NYC': 'New York', 'LA': 'Los Angeles', 'CHI': 'Chicago'}

## The Core Concept: How Data Structures Work in Python
At its core, this problem is about **data transformation:**

You start with a **list of tuples.**
You need to convert it into a **dictionary.**

Each tuple already has a **key-value structure**, so Python lets you **directly map it** into a dictionary.

## Understanding Tuple Unpacking
#### How Tuples Work in a Loop
Letâ€™s manually break down the list:

In [69]:
data = [("NYC", "New York"), ("LA", "Los Angeles"), ("CHI", "Chicago")]

In [70]:
# Each tuple is structured as:
("NYC", "New York")
("LA", "Los Angeles")
("CHI", "Chicago")

('CHI', 'Chicago')

In [71]:
# If we loop through data normally:
for item in data:
    print(item)

('NYC', 'New York')
('LA', 'Los Angeles')
('CHI', 'Chicago')

#### Tuple Unpacking: The Magic
Python allows "unpacking" when looping over tuples:

In [72]:
for key, value in data:
    print(f"Key: {key}, Value: {value}")

Key: NYC, Value: New York
Key: LA, Value: Los Angeles
Key: CHI, Value: Chicago

#### Hereâ€™s whatâ€™s happening:

1. **Python knows each tuple has exactly two items.**
2. *`key`* gets the **first item**, *`value`* gets the **second item**.
3. Now, we can easily use `key` and `value` inside a dictionary comprehension.

### Why Dictionary Comprehension Works
Now that you get how tuple unpacking works, the comprehension:
`structured_data = {key: value for key, value in data}
`

In [73]:
structured_data = {key: value for key, value in data}

In [ ]:
# Is just a short way of writing this:

structured_data = {}
for key, value in data:
    structured_data[key] = value

# .join() is for strings, NOT tuples
.join() combines strings together:

In [74]:
", ".join(["apple", "banana", "cherry"])

'apple, banana, cherry'

# .split() is for breaking strings

In [75]:
"NYC, New York".split(", ")

['NYC', 'New York']

## ðŸ”¥ The One-Liner That Uses dict()
Since Python **already understands** that a list of 2-item tuples can be converted to a dictionary, we can **skip the comprehension altogether:**

In [76]:
structured_data = dict(data)

#### What `dict(data)` Actually Does
* `dict()` expects an **iterable of key-value pairs.**
* Since `data` is already a list of tuples, Python knows **the first item is the key and the second is the value.**

âœ… Thatâ€™s why `dict(data)` is the **simplest and most efficient way to do this.**

### ðŸ’¯ Summary: The Key Takeaways
1. Tuple unpacking allows for key, value in data to split tuples into variables automatically.
2. Dictionary comprehension {key: value for key, value in data} is just a shorthand for a normal loop.
3. You donâ€™t need `.join()` or `.split()` because:
    * `.join()` is for merging strings.
    * `.split()` is for breaking strings apart.
4. The `dict()` function already knows how to convert a list of tuples into a dictionary in one step.

## Modify Dictionary Values
You need to apply a 10% discount to all prices in a dictionary.
Desired Output:
```
{
    "milk": 2.25,
    "bread": 1.79,
    "eggs": 3.14
}
```

In [83]:
prices = {
    "milk": 2.50,
    "bread": 1.99,
    "eggs": 3.49
}

disc_groceries = {k: round(v-(v*0.10), 2) for k, v in prices.items()}
print(disc_groceries)

{'milk': 2.25, 'bread': 1.79, 'eggs': 3.14}

## Extract Words from a String and Count Occurrences
You get a sentence, and you need to count how many times each word appears.

desired output:
```
{
    "apple": 3,
    "banana": 2,
    "orange": 1
}
```

In [50]:
sentence = "apple banana apple orange banana apple"
words = sentence.split(" ")

word_count = {word: words.count(word) for word in set(words)}  # BAD!
                #k      #v                        #only count unique words(set())
print(word_count)

{'banana': 2, 'orange': 1, 'apple': 3}

In [107]:
sentence = "apple banana apple orange banana apple"
words = sentence.split(" ")
d = {}
for word in words:
    d[word] = d.get(word, 0) + 1
print(d)

{'apple': 3, 'banana': 2, 'orange': 1}

# ðŸš€ Key Ways to Get Data from a Dictionary
Weâ€™ll cover:

1. Basic retrieval (`dict[key]`)
2. Safe retrieval (`.get()`)
3. Looping through a dictionary
4. Checking for existence (in keyword)
5. Getting all keys or values (`.keys()`, `.values()`)
6. Getting key-value pairs (`.items()`)
7. Removing data (`.pop()`, `.popitem()`)

### 1. Basic Retrieval (dict[key])
This is the simplest way to get a value.

In [2]:
data = {"name": "Chris", "age": 56, "city": "NYC"}
print(data["name"])
print(data["age"])

Chris
56

âš ï¸ Be Careful!
If the key doesnâ€™t exist, it throws an error:

In [3]:
print(data["height"])  # âŒ KeyError: 'height'

KeyError: 'height'

### ðŸ”¥ 2. Safe Retrieval (.get())
Use .get() to avoid errors when the key might not exist.

In [19]:
print(data.get("name"))
print(data.get("height"))

Chris
None

### You can also set a default value if the key is missing:

In [5]:
print(data.get("height", "Unknown"))  # âœ… "Unknown"

Unknown

âœ… Use .get() when you're not sure if the key exists.

## ðŸ”¥ 3. Looping Through a Dictionary
Loop Through Keys

In [6]:
for key in data:
    print(key)

name
age
city

### Loop Through Values

In [7]:
for value in data.values():
    print(value)

Chris
56
NYC

### Loop Through Key-Value Pairs

In [8]:
for key, value in data.items():
    print(f"{key}: {value}")

name: Chris
age: 56
city: NYC

In [9]:
for key, value in data.items():
    print(f"{key}: {value}")

name: Chris
age: 56
city: NYC

### ðŸ”¥ 4. Checking If a Key Exists (in)
You can check if a key exists using in:

In [10]:
if "age" in data:
    print("Age is available!")

Age is available!

âœ… More reliable than checking if `dict[key]` throws an error.

### ðŸ”¥ 5. Getting All Keys and Values

In [12]:
print(data.keys())
print(data.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Chris', 56, 'NYC'])

### âš¡ Convert to a list if needed:

In [14]:
print(list(data.keys()))
print(list(data.values()))

['name', 'age', 'city']
['Chris', 56, 'NYC']

## ðŸ”¥ 6. Getting Key-Value Pairs (`.items()`)
`.items()` gives you a list of tuples:

In [15]:
print(list(data.items()))

[('name', 'Chris'), ('age', 56), ('city', 'NYC')]

### ðŸ”¥ 7. Removing Data (`.pop()`, `.popitem()`)
Remove a Specific Key (`.pop()`)

In [1]:
data = {"name": "Chris", "age": 18, "city": "NYC"}

age = data.pop("age")  # Removes "age" and returns its value
print(age)
print(data)

18
{'name': 'Chris', 'city': 'NYC'}

### Remove the *Last Item* (`.popitem()`)

In [2]:
last_item = data.popitem()
print(last_item)
print(data)

('city', 'NYC')
{'name': 'Chris'}

#### âœ… Use .pop() when you need to remove a specific key.
#### âœ… Use .popitem() when removing the last-added item (Python 3.7+).

## ðŸš€ Coding Test Challenges
Letâ€™s test your skills with real coding test-style questions. Try solving these without looking up the answers!

### ðŸ”¥ Challenge 1: Find Missing Keys
Youâ€™re given a dictionary of student scores, but some students are missing from the data. Return "No Score" for missing students.

In [25]:
students = {"Alice": 85, "Bob": 92}
names = ["Alice", "Bob", "Charlie"]

# Dictionary comprehension approach
student_dict = {name: students.get(name, "No Score") for name in names}

print(student_dict)


# Expected Output: {"Alice": 85, "Bob": 92, "Charlie": "No Score"}

{'Alice': 85, 'Bob': 92, 'Charlie': 'No Score'}

## ðŸ”¥ Challenge 2: Find the Most Common Value
Find the most common value in this dictionary:
#### This is a tricky problem

In [58]:
data = {
    "A": 3,
    "B": 5,
    "C": 3,
    "D": 5,
    "E": 5
}
# Step 1: Create a dictionary to count occurrences of each value
value_counts = {}  # This will store {value: frequency}

for value in data.values():
    value_counts[value] = value_counts.get(value, 0) + 1

# Step 2: Find the value with the highest frequency
most_common_value = None
highest_count = 0

for value, count in value_counts.items():
    if count > highest_count:
        most_common_value = value
        highest_count = count

print(most_common_value)

5

#### ðŸš€ Step-by-Step Approach Using a for Loop
1. Count how many times each value appears (since we care about frequency, not the highest number).
2. Find the most common value by looping through these counts.

ðŸ”¥ Solution Using a for Loop

#### ðŸ” Breaking It Down
Step 1: Count Occurrences
We loop through data.values() to create a new dictionary (value_counts) that counts occurrences.

In [64]:
value_counts = {}
for value in data.values():
    value_counts[value] = value_counts.get(value, 0) + 1
print(value_counts)

{3: 2, 5: 3}

### Step 2: Find the Most Common Value
Now we loop through `value_counts.items()` to find the `highest count`:

In [65]:
most_common_value = None
highest_count = 0

for value, count in value_counts.items():
    if count > highest_count:
        most_common_value = value
        highest_count = count

âœ… This updates most_common_value whenever we find a higher frequency.

ðŸ”¥ Why This Works
1. The first loop builds the frequency dictionary (value_counts).
2. The second loop finds the most frequent value without using max().

## We could have also done this:

In [72]:
data = {
    "A": 3,
    "B": 5,
    "C": 3,
    "D": 5,
    "E": 5
}

# Step 1: Get unique values
unique_values = set(data.values())

# Step 2: Find the most common value using a loop
most_common_value = None
highest_count = 0

for v in unique_values:
    count = list(data.values()).count(v)  # Count occurrences of v
    if count > highest_count:  # If it's the highest count so far, update
        most_common_value = v
        highest_count = count

print(most_common_value)  # âœ… Output: 5

5

## ðŸ”¥ Challenge 3: Find the Key with the Highest Value
Find the key that has the highest value.

In [3]:
sales = {"store1": 500, "store2": 800, "store3": 750}
max_value = max(sales.values()) # âœ… First, find the highest value
key = [k for k, v in sales.items() if v == max_value][0]  # âœ… Get the key that matches

print(key)

store2

## Even Better

In [94]:
sales = {"store1": 500, "store2": 800, "store3": 750}

key = max(sales, key=sales.get)  # âœ… Finds the key with the max value

print(key)  # âœ… Output: "store2"

store2

In [95]:
max_key = None
max_value = float('-inf')  # Start with the lowest possible number

for k in sales:
    if sales[k] > max_value:
        max_value = sales[k]
        max_key = k

print(max_key)

store2

## ðŸ”¥ Challenge 4: Reverse a Dictionary
Swap keys and values in this dictionary.

In [2]:
cities = {"NYC": "New York", "LA": "Los Angeles", "CHI": "Chicago"}
swapped = {k:v for v, k in cities.items()}
print(swapped)

{'New York': 'NYC', 'Los Angeles': 'LA', 'Chicago': 'CHI'}

### While I got the correct output *Technically* you need to do this:

In [4]:
swapped = {v: k for k, v in cities.items()}  # âœ… Proper key-value swap
print(swapped)

{'New York': 'NYC', 'Los Angeles': 'LA', 'Chicago': 'CHI'}

## ðŸš€ Drill 1: Find the Cheapest Product
Given a dictionary of products and their prices, find the cheapest product.

#### way 1

In [7]:
products = {
    "Laptop": 1200,
    "Phone": 800,
    "Tablet": 450,
    "Monitor": 300
}
key = min(products, key=products.get)  # âœ… Finds the key with the max value

print(key)

Monitor

#### way 2

In [17]:
products = {
    "Laptop": 1200,
    "Phone": 800,
    "Tablet": 450,
    "Monitor": 300
}
min_key = None
min_value = float('inf')

for k, v in products.items():
    if products[k] < min_value:
        min_value = products[k]
        min_key = k

print(min_key)

Monitor

## ðŸš€ Drill 2: Find the Student with the Lowest Score
Given a dictionary of students and their scores, find the student with the lowest score.

### way 1

In [16]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

key = min(scores, key=scores.get)

print(key)

Charlie

#### way 2

In [19]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

min_key = None
min_value = float('inf')

for k, v in scores.items():
    if scores[k] < min_value:
        min_value = scores[k]
        min_key = k

print(min_key)

Charlie

## What if we wanted to find the minimum score, not the k but the minimum *value*?

In [20]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

min_key = None
min_value = float('inf')

for k, v in scores.items():
    if scores[k] < min_value:
        min_value = scores[k]
        min_value = v

print(min_value)

78

## While my code did indeed identify the correct value, it can be shortened somewhat by:

In [21]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

min_value = float('inf')

for v in scores.values():  # âœ… No need to loop over keys, just values
    if v < min_value:
        min_value = v  # âœ… Only update min_value

print(min_value)

78

# However there is a one-liner for finding the minimum values:

In [23]:
min_value = min(scores.values())

print(min_value)

78

# ðŸ“Œ One-Liner Comparison Table for Finding Min/Max in a Dictionary

| **Goal**                                  | **One-Liner Code**                         | **Time Complexity** |
|-------------------------------------------|---------------------------------------------|----------------------|
| Find the **key** with the smallest value  | `min(scores, key=scores.get)`              | `O(N)` âœ…            |
| Find the **smallest value only**          | `min(scores.values())`                     | `O(N)` âœ…            |
| Find the **key** with the largest value** | `max(scores, key=scores.get)`              | `O(N)` âœ…            |
| Find the **largest value only**           | `max(scores.values())`                     | `O(N)` âœ…            |

## ðŸš€ **Explanation**
- **`min(scores.values())`** â†’ Finds the **smallest value** but **not the key**.
- **`min(scores, key=scores.get)`** â†’ Finds the **key** with the smallest value.
- **Same logic applies for `max()`** to find the **largest value** or its **key**.
- All of these run in **O(N) time complexity**, because Python **must check every value at least once**.

ðŸ”¥ **Now you can copy this into your Jupyter Notebook and have a perfect reference!** ðŸš€ðŸ’ª